<mat-toolbar>
  <!-- <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <a mat-button [routerLink]="'/'">{{title}} {{version}}</a>
  <span class="menu-spacer"></span>
  <!-- <button mat-icon-button>
    <mat-icon>code</mat-icon>
  </button> -->
  <a target="_blank" [href]="issuesLink" mat-icon-button>
    <mat-icon>bug_report</mat-icon>
  </a>
  <a target="_blank" [href]="personalLink" mat-icon-button>
    <mat-icon>face</mat-icon>
  </a>
</mat-toolbar>
<mat-drawer-container class="main-wrapper" autosize>
  <mat-drawer #drawer class="main-sidenav" mode="side">
  </mat-drawer>
  <div class="main-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
