<mat-toolbar>
  <!-- <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>polarmachine</span>
  <span class="menu-spacer"></span>
  <!-- <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
<mat-drawer-container class="main-wrapper" autosize>
  <mat-drawer #drawer class="main-sidenav" mode="side">
  </mat-drawer>
  <div class="main-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
