/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ml {
    margin-left: 16px;
}

.mt {
    margin-top: 16px;
}

.mb-s {
    margin-bottom: 4px;
}

.mr-s {
    margin-right: 4px;
}